# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/
*.egg

# Node
node_modules/
.cache/
dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
*.log

# Umi
frontend/src/.umi/
frontend/.umi/
